langchain 
openai 
requests 
python-dotenv 
pandas
langchain-community
langchain-groq
langchain-core
groq
fuzzywuzzy
transformers
torch
rapidfuzz
gensim
matplotlib
seaborn
datasets
seqeval
scipy
faiss-cpu
sentence_transformers
hdbscan
optimum[onnxruntime]==1.17.1
tiktoken
sentencepiece